/*.input_container .canvas_btn {
	position: absolute;
	bottom:0;left:0;right:0;
	background-color: #333;
	z-index:1000;
}

.input_container .canvas_btn a{
	float:left;
	color:#fff;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
}


.input_container .imageBox {
    z-index:100;
    position: relative;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
    box-shadow: 4px 4px 12px #B0B0B0; 
}
.input_container .imageBox .thumbBox {
    position: absolute;
    top: 20%;
    left: 10%;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.input_container .imageBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}*/

*{margin:0;padding: 0;}
body,html{
    /*background-color:#000;*/
    position:relative;width:100%;height:100%;overflow: hidden;
}
.canvas_img,.canvas,.canvas_div,.canvas_btn{position: absolute;}
.canvas_div,.canvas_bg{left:0;top:0;bottom:0;right:0;}
.canvas_img{z-index:1;}
.canvas{
    left:10%;border:1px solid #fff;top:30px;
    z-index:100;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
.canvas_div{z-index:999;}


.canvas_btn {bottom:0;left:0;right:0;height:60px;background-color: #333;z-index:1000;}
.canvas_btn a{float:left;color:#fff;width:60px;height:160px;line-height: 60px;text-decoration: none;text-align: center;}
.canvas_btn .canvas_ok{float:right;}
.canvas_save:active{color:#fff;}
